*{
  margin: 0;
  padding: 0;
}

/* --------- Bagrunds javascript -----------*/
#canvas_container{
  width: 100%;
  height:812px;
  margin:0;
  position: absolute;
}
#my_canvas{
 display: block;
 float: left;
 width: 100%;
}

  /* font til tekst: font-family: 'Raleway', sans-serif; */


/* font til tal: font-family: 'Source Sans Pro', sans-serif; */

/* --------- menu baren -----------*/
.wrapper {
  width: 100%;
  margin: auto;
  background-color: #5f5c5c;
  position: absolute;
}

.sidebar {
  overflow: hidden;
  background-color: #5f5c5c;
  position: relative;
  height: 2%;
}

.sidebar #myLinks {
  display: none;
}

.sidebar a {
  font-family: 'Raleway', sans-serif;
  color:#F25835;
  padding: 23px 25px;
  text-decoration: none;
  font-size: 30px;
  display: block;
  position: relative;
}

.sidebar a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.sidebar a:hover {
  color:#F25835;
}

 /*---------Menu baren flag -------*/

 .dansk {
  display: block;
  position: relative;
  float:right;
  margin-top:-69px;
  margin-right:75px;
 }

 .engelsk {
  display: block;
  position: relative;
  float:right;
  margin-top:-69px;
  margin-right:145px;
 }